header.header
	.header__container

		.header__menu.menu
			button.menu__icon.icon-menu(type="button")
				span
			nav.menu__body
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Home
					li.menu__item
						a.menu__link(href="#") About
					li.menu__item
						a.menu__link(href="#") Products
					li.menu__item
						a.menu__link(href="#") Services
