.brands {
	margin-bottom: 100px;
	// .brands__container

	&__container {
		display: flex;
		justify-content: space-between;
		filter: grayscale(1);
		padding: 40px 0;
	}

}


.advantages {

	// .advantages__container

	&__container {}

	// .advantages__title

	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		color: #000;
		margin-bottom: 40px;
	}

	// .advantages__block

	&__block {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1px;
		background: rgba(167, 161, 161, 0.48);
	}

	// .advantages__item

	&__item {
		background: #fff;
		padding: 70px 10px;
	}

	// .advantages__item-img

	&__item-img {
		display: block;
		margin: 0 auto;
		min-width: 46px;
		min-height: 46px;
	}

	// .advantages__item-title

	&__item-title {
		font-weight: 500;
		font-size: 21px;
		line-height: 133%;
		text-align: center;
		color: #000;
	}

	// .advantages__item-subtitle

	&__item-subtitle {
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		text-align: center;
		color: #52525b;
	}
}


.team {

	// .team__container

	&__container {}

	// .team__subtitle

	&__subtitle {
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		text-align: center;
		color: #000;
	}

	// .team__block

	&__block {
		position: relative;
		padding-bottom: 26%;
	}

	// .team__item

	&__item {
		background: #E2E8F0;
		position: absolute;
		border: 10px solid #fff;
		border-radius: 50%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 50%;
		}

		&--first {
			width: calc(251/1296*100%);
			padding-bottom: calc(251/1296*100%);
			left: 0%;
			z-index: 2;
		}

		&--second {
			width: calc(295.61/1296*100%);
			padding-bottom: calc(295.61/1296*100%);
			left: 17%;
			z-index: 1;
		}

		&--third {
			background: #FDBA74;
			width: calc(331/1296*100%);
			padding-bottom: calc(331/1296*100%);
			left: 50%;
			transform: translateX(-50%);
			z-index: 3;
		}

		&--fourth {
			width: calc(300/1296*100%);
			padding-bottom: calc(300/1296*100%);
			left: 60%;
			z-index: 1;
			img{
				object-fit: contain;
			}
		}

		&--fifth {
			width: calc(278/1296*100%);
			padding-bottom: calc(278/1296*100%);
			left: 80%;
			z-index: 2;
		}
	}

	// .team__item-tooltip

	&__item-tooltip {
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
	}

	// .team__item-name

	&__item-name {
		font-weight: 600;
		font-size: 16px;
		line-height: 200%;
		text-align: center;
		color: #090914;
	}

	// .team__item-position

	&__item-position {
		font-weight: 400;
		font-size: 14px;
		line-height: 186%;
		text-align: center;
		color: #71717a;
	}

}

.reviews {

	// .reviews__container

	&__container {}

	// .reviews__subtitle

	&__subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 140%;
		text-align: center;
		color: #000;
		margin-bottom: 40px;
	}

	// .reviews__box

	&__box {
		display: flex;
	}

	// .reviews__item

	&__item {
		display: flex;
	}

	// .reviews__photo

	&__photo {
		margin-right: 20px;

		img {
			border-radius: 15px;
		}
	}

	// .reviews__body

	&__body {
		display: flex;
		flex-direction: column;
	}

	// .reviews__stars

	&__stars {
		padding: 5px 0;

		svg {
			fill: #dbf301;
		}
	}

	// .reviews__text

	&__text {
		flex: 1 0 auto;
		font-weight: 500;
		font-size: 18px;
		line-height: 156%;
		color: #090914;
		margin-bottom: 40px;
	}

	&__position {
		font-weight: 600;
		font-size: 16px;
		line-height: 175%;
		letter-spacing: -0.01em;
		color: #090914;

		span {
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: #64748b;
		}
	}
}

.offer {

	// .offer__container

	&__container {
		display: flex;
	}

	// .offer__title

	&__title {
		font-weight: 600;
		font-size: 42px;
		line-height: 133%;
		color: #000;
		padding-right: 60px;
	}

	// .offer__body

	&__body {
		display: flex;
	}

	// .offer__item

	&__item {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		border: 1px solid #E5EAF1;
		width: 318px;
		min-height: 478px;
		padding: 40px;

		&--active {
			background: #485AFF;
			border-color: #fff;
			margin-right: 40px;
		}
	}

	// .offer__text

	&__subtitle {
		font-weight: 700;
		font-size: 21px;
		line-height: 152%;
		letter-spacing: -0.01em;
		text-align: center;
		color: #0f172a;
		margin-bottom: 20px;

		&--active {
			color: #fff;
		}
	}

	// .offer__subtitle

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		text-align: center;
		color: #4b5262;
		margin-bottom: 20px;

		&--active {
			color: #fff;
		}
	}

	// .offer__cost

	&__cost {
		font-weight: 700;
		font-size: 48px;
		line-height: 125%;
		letter-spacing: -0.04em;
		text-align: center;
		color: #0f172a;
		margin-bottom: 20px;

		span {
			font-weight: 400;
			font-size: 16px;
			line-height: 162%;
			text-align: center;
			color: #4b5262;
		}

		&--active {
			color: #fff;

			span {
				color: #fff;
			}
		}
	}

	// .offer__list

	&__list {
		flex-grow: 1;
		text-align: center;
		margin-bottom: 20px;
	}

	// .offer__list-item

	&__list-item {
		margin-bottom: 20px;

		&--active {
			color: #fff;
		}
	}

	// .offer__button

	&__button {
		color: #fff;
		border-radius: 7px;
		background: #485AFF;
		position: relative;
		overflow: hidden;
		display: inline-flex;
		justify-content: center;
		padding: 20px 16px;
		min-width: 200px;
		min-height: 56px;
		margin: 0 auto;

		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}

		&--active {
			color: #485AFF;
			background: #fff;
		}
	}
}