section.brands
	.brands__container
		img.brands__img(src="img/brands/gumroad.svg" alt="brand gumroad")
		img.brands__img(src="img/brands/toyota.svg" alt="brand toyota")
		img.brands__img(src="img/brands/barclays.svg" alt="brand barclays")
		img.brands__img(src="img/brands/airbnb.svg" alt="brand airbnb")
section.advantages
	.advantages__container
		h3.subtitle.advantages__title Bring team collaboration and productivity like never before.
		.advantages__block
			.advantages__item 
				img.advantages__item-img(src="img/advantages-icons/support.svg" alt="support")
				h2.advantages__item-title Support
				h3.advantages__item-subtitle Centralize your data from multiple sources and process it in real time
			.advantages__item 
				img.advantages__item-img(src="img/advantages-icons/247.svg" alt="247")
				h2.advantages__item-title 24/7
				h3.advantages__item-subtitle Real time feedback for all your queries 
			.advantages__item 
				img.advantages__item-img(src="img/advantages-icons/interface.svg" alt="interface")
				h2.advantages__item-title Interface
				h3.advantages__item-subtitle Auto backup,smooth interface ensures you complete your scheduled tasks
			.advantages__item 
				img.advantages__item-img(src="img/advantages-icons/backup.svg" alt="backup")
				h2.advantages__item-title Backup
				h3.advantages__item-subtitle Ensure no data is lost with our auto AI powered backup systems
			.advantages__item 
				img.advantages__item-img(src="img/advantages-icons/flexibility.svg" alt="flexibility")
				h2.advantages__item-title Flexibility
				h3.advantages__item-subtitle Track’s world class interface built for speed and delight
			.advantages__item 
				img.advantages__item-img(src="img/advantages-icons/storage.svg" alt="storage")
				h2.advantages__item-title Storage
				h3.advantages__item-subtitle Unlimited storage for your teams 

.team
	.team__container
		.subtitle.team__subtitle Your favorite project management team now flexible enough to take on any project. Work how you want and where you want.
		.team__block
			.team__item-fit.team__item.team__item--first
				.team__item-tooltip
					.team__item-name Samantha Chen
					.team__item-position Senior Software Engineer
				img(src="img/team/team-1.png", alt="Samantha Chen")
			.team__item-fit.team__item.team__item--second
				.team__item-tooltip
					.team__item-name Alex Ramirez
					.team__item-position IT Security Analyst
				img(src="img/team/team-2.png", alt="Alex Ramirez")
			.team__item-fit.team__item.team__item--third
				.team__item-tooltip
					.team__item-name Jenny Wilson
					.team__item-position Co-Founder, CEO
				img(src="img/team/team-3.png", alt="Jenny Wilson")
			.team__item-fit.team__item-fit--contain.team__item.team__item--fourth
				.team__item-tooltip
					.team__item-name Michael Patel
					.team__item-position Database Administrator
				img(src="img/team/team-4.png", alt="Michael Patel")
			.team__item-fit.team__item.team__item--fifth
				.team__item-tooltip
					.team__item-name Jessica Lee
					.team__item-position Systems Architect
				img(src="img/team/team-5.png", alt="Jessica Lee")
.reviews
	.reviews__container
		.subtitle.reviews__subtitle 2000+ Happy users
		.reviews__box
			.reviews__item
				.reviews__photo 
					img(src="img/reviews/review-1.png", alt="photo review")
				.reviews__body
					.reviews__stars 
						include elements/star.pug
						include elements/star.pug
						include elements/star.pug
						include elements/star.pug
						include elements/star.pug
					p.reviews__text Track has simplified all my tasks.Managing my work has become easier.”
					p.reviews__position Jenny Wilson <span>Grower.io</span>
			.reviews__item
				.reviews__photo
					img(src="img/reviews/review-2.png", alt="photo review")
				.reviews__body
					.reviews__stars
						include elements/star.pug
						include elements/star.pug
						include elements/star.pug
						include elements/star.pug
					p.reviews__text No more switching between tasks .Time management has become efficient for my team
					p.reviews__position Devon Lane <span>DLDesign.co</span>
.offer
	.offer__container
		h2.offer__title It's free, it's easy and it's fun to use for your first project.
		.offer__body
			.offer__item.offer__item--active
				h3.offer__subtitle.offer__subtitle--active Premium Pack
				p.offer__text.offer__text--active Small teams
				p.offer__cost.offer__cost--active $ 20 <span>/Month</span>
				ul.offer__list
					li.offer__list-item.offer__list-item--active 5 team members
					li.offer__list-item.offer__list-item--active file sharing
					li.offer__list-item.offer__list-item--active Financial Service Features
				button.offer__button.offer__button--active $ 20/ Month
			.offer__item
				h3.offer__subtitle Free pack
				p.offer__text Customer Reach & Budget
				p.offer__cost $0 <span>/Month</span>
				ul.offer__list
					li.offer__list-item 1 Team member
					li.offer__list-item No file sharing
					li.offer__list-item 100 Mb storage
				button.offer__button Try for Free 